<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogLevel="Debug"
      internalLogFile="${basedir}/nlog-internal.log">

	<extensions>
		<add assembly="NLog.Database" />
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>
	<targets>
		<target name="database" xsi:type="Database"
				connectionString="Server=S927-SPSQLAPDEV;Database=AutomatedTesting;Trusted_Connection=True;TrustServerCertificate=True;"
				dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient"
			commandText="INSERT INTO LogEntries (Logged, Level, Message, Logger, ExceptionType, ExceptionMessage, Url, UserName, StackTrace, ScenarioId, RollbackStatus, FormData, Endpoint, ResponseBody)
						 VALUES (@logged, @level, @message, @logger, @exceptionType, @exceptionMessage, @url, @userName, @stackTrace, @scenarioId, @rollbackStatus, @formData, @endpoint, @responseBody)">
			<parameter name="@logged" layout="${date:format=o}" dbType="DateTime" />
			<parameter name="@level" layout="${level}" />
			<parameter name="@message" layout="${message}" />
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@exceptionType" layout="${exception:format=Type}" />
			<parameter name="@exceptionMessage" layout="${exception:format=Message}" />
			<parameter name="@url" layout="${aspnet-request-url}" />
			<parameter name="@userName" layout="${aspnet-user-identity}" />
			<parameter name="@stackTrace" layout="${exception:format=Type}${newline}${exception:format=Message}${newline}${exception:format=StackTrace}" />
			<parameter name="@scenarioId" layout="${scopeproperty:ScenarioId}" />
			<parameter name="@rollbackStatus" layout="${scopeproperty:RollbackStatus}" />
			<parameter name="@formData" layout="${event-properties:FormData}" />
			<parameter name="@endpoint" layout="${event-properties:Endpoint}" />
			<parameter name="@responseBody" layout="${event-properties:ResponseBody}" />
		</target>

		<target name="file" xsi:type="File" fileName="${basedir}/NLog-test.log" />
		<target name="debug" xsi:type="Debug" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="file,debug" />
		<logger name="*" minlevel="Error" writeTo="database" final="true"/>
	</rules>
</nlog>
