<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  internalLogLevel="Debug"
	  internalLogFile="${basedir}/nlog-internal.log">
	<targets>		
		<target name="database" xsi:type="Database"
				connectionString="Server=S927-SPSQLAPDEV;Database=AutomatedTesting;Trusted_Connection=True;"
				dbProvider="System.Data.SqlClient"
				commandText="INSERT INTO LogEntries (Date, Level, Message, Logger, Exception, Url, UserName, StackTrace, ScenarioId, RollbackStatus)
							 VALUES (@time_stamp, @level, @message, @logger, @exception, @url, @user, @stack, @scenarioId, @rollbackStatus)">
			<parameter name="@time_stamp" layout="${longdate}" />
			<parameter name="@level" layout="${level}" />
			<parameter name="@message" layout="${message}" />
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@exception" layout="${exception:format=tostring}" />
			<parameter name="@url" layout="${aspnet-request-url}" />
			<parameter name="@user" layout="${aspnet-user-identity}" />
			<parameter name="@stack" layout="${stacktrace}" />
			<parameter name="@scenarioId" layout="${scopeproperty:ScenarioId}" />
			<parameter name="@rollbackStatus" layout="${scopeproperty:RollbackStatus}" />
		</target>
	</targets>
	<target name="file" xsi:type="File" fileName="${basedir}/nlog-test.log" />
	<target name="debug" xsi:type="Debug" />
	<rules>
		<logger name="*" minlevel="Info" writeTo="file,debug" />
		<logger name="*" minlevel="Error" writeTo="database" final="true"/>
	</rules>

</nlog>
