<div>
    <label>Requesting Group:</label>
    

    <label>Target Group:</label>
    <select name="targetGroup">
        <option value="GroupX">Group X</option>
        <option value="GroupY">Group Y</option>
    </select>

    <label>Reviewer:</label>
    <select name="reviewer">
        <option value="GroupX">Group X</option>
        <option value="GroupY">Group Y</option>
    </select>

    <input type="text" name="reviewer" placeholder="Reviewer Name" />

    <label>Message:</label>
    <textarea name="message">Please provide more information...</textarea>
</div>
